# Frontend specific ignores
# (Most common rules are handled by the root .gitignore)

/dist
/dist-ssr
/*.local
node_modules

# Playwright
/test-results
/playwright-report
/blob-report
/playwright/.cache

# Vitest
/coverage
